@import "../utilis/variable.scss";
#main_error {
  margin: 113px 0px;
  display: flex;
  flex-direction: column;
  gap: 113px;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 96px;
    color: $main-color;
  }
  h2 {
    font-weight: $font_weight_medium;
    font-size: 18px;
    color: $main-color;
    width: 260px;
  }

  a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: $font_weight_medium;
  }
}
