@import "../utilis/variable.scss";
@import "../utilis/mixin.scss";
.home-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 22px;
  margin-bottom: 27px;

  @include tablet {
    padding: 0 60px;
    gap: 33px;
    margin-bottom: 35px;
  }

  @include desktop {
    padding: 0 100px;
    gap: 43px;
    margin-bottom: 50px;
  }
}
.banner_block {
  display: grid;
  align-items: center;

  .banner {
    height: 111px;
    display: grid;
    grid-column: 1;
    grid-row: 1/1;
    background: $black;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;

    @include tablet {
      height: 165px;
    }

    @include desktop {
      height: 223px;
    }

    img {
      height: 111px;
      object-fit: cover;
      width: 100%;
      display: grid;
      grid-column: 1;
      grid-row: 1/1;
      opacity: 40%;
      border-radius: 10px;

      @include tablet {
        height: 165px;
      }

      @include desktop {
        height: 223px;
      }
    }
  }

  h1 {
    display: grid;
    grid-column: 1;
    grid-row: 1/-1;
    margin-left: 16px;
    width: 225px;
    color: $white;
    z-index: 1;

    @include tablet {
      font-size: 36px;
      width: 100%;
      text-align: center;
      margin-left: 0;
    }

    @include desktop {
      font-size: 48px;
    }
  }
}

.all_card {
  display: grid;
  gap: 20px;

  @include tablet {
    grid-template-columns: auto auto;
    gap: 40px;
    padding: 25px;
    background-color: $cards_background;
    border-radius: 17px;
    row-gap: 32px;
  }

  @include desktop {
    grid-template-columns: auto auto auto;
    gap: 60px;
    padding: 50px;
    border-radius: 25px;
    row-gap: 50px;
  }
  .card {
    height: 255px;

    border-radius: 10px;
    display: grid;
    align-items: end;

    @include tablet {
      height: 297.5px;
    }

    @include desktop {
      height: 340px;
    }

    &_linear {
      grid-column: 1;
      grid-row: 1/1;
      width: 100%;
      height: 255px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
      );
      z-index: 1;
      border-radius: 10px;
    }
    h2 {
      margin: 0 0 15px 19.71px;
      font-size: 18px;
      color: $white;
      grid-column: 1;
      grid-row: 1/1;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 255px;
      grid-column: 1;
      grid-row: 1/1;
      border-radius: 10px;
      object-fit: cover;

      @include tablet {
        height: 297.5px;
      }

      @include desktop {
        height: 340px;
      }
    }
  }
}
